@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Questrial', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.945);
    position: relative;
    overflow-x: hidden;
}

.container-header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgb(255, 187, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-description {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-description nav ul {
    display: flex;
    gap: 50px;
}

.header-description nav ul li a {
    font-size: 20px;
    color: rgb(255, 208, 0);
    position: relative;
}

.header-description nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: rgb(255, 208, 0);
    transition: .5s;
}

.header-description nav ul li a:hover::before {
    width: 90px;
}

/* Efeito Fumaça */

.efeito-amarelo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-40%, -50%);
}

.efeito-amarelo img {
    width: 400px;
    height: 400px;
}

.efeito-amarelo-second {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(53%, 40%);
    z-index: 1;
}

.efeito-amarelo-second img {
    width: 400px;
    height: 400px;
}

/* Container Section one */

.container-section-one {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agrupados {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}

.left-ctngp {
    width: 50%;
    height: 100%;
}

/* Posição dos Grupos */

.ctn-grupo-one {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
}

.ctn-grupo-two {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ctn-grupo-tree {
    position: absolute;
    top: 0;
    right: 0;
}

.ctn-grupo-for {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ctn-grupo-semi-one {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.ctn-grupo-semi-two {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.ctn-grupo-fns {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Posição Final dos Grupos */
/* Description Equipes Participantes */

#description-gpone {
    padding: 3px 10px;
    background-color: rgb(238, 182, 0);
    margin-bottom: 30px;
    text-align: center;
}

#description-gpone p {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter';
}

/* Equipes Participantes */

.logo-gpone {
    display: flex;
    gap: 20px;
    height: 91%;
}

.logo-gpone #logo-ctn-gpone {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 20px rgb(87, 86, 85);
}

.logo-gpone #logo-ctn-gtwo {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 20px rgb(238, 182, 0);
    
}

.logo-gpone #logo-ctn-tree {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 20px rgb(238, 182, 0);
    position: relative;
}

/* URL DAS LOGOS */

.eq-av {
    height: 57%;
}

/* Primeiro Classificado */

.logo-gpone .eq-av {
    animation-name: avancar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.logo-gpone .eq-av .logo-gpone-one {
    background-image: url(img/aWlogo.png);
    animation-name: avancar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes avancar {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0%, 41%);
    }

    100% {
        transform: translate(55%, 41%);
        background-color: transparent;
        box-shadow: none;
    }
    
}

/* CLASSIFICADO 1 - ACIMA */


.logo-gpone .logo-gpone-two {
    background-image: url(img/logofutebol.png);
}

.logo-gpone .logo-gpone-tree {
    background-image: url(img/logourun.webp);
    
}

/* Segunda Classificada */

.logo-gpone .logo-gpone-for {
    background-image: url(img/logoibis.png);
    animation-name: avancartwo;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes avancartwo {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    100% {
            transform: translate(0px, 0px);
            background-color: transparent;
            box-shadow: none;
    }
}

/* SEGUNDA CLASSIFICADA - ACIMA */

.logo-gpone .logo-gpone-five {
    background-image: url(img/Logoweb.png);
}

/* TERCEIRA EQUIPE CLASSIFICADA */

.logo-gpone .logo-gpone-six {
    background-image: url(img/logoatletico-4096.png);
    animation-name: avancartr;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes avancartr {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
        background-color: transparent;
        box-shadow: none;
    }
}

/* TECEIRO TIME CLASSIFICADO - ACIMA */
/* QUARTO TIME CLASSIFICADO */

.logo-gpone .logo-gpone-sev {
    background-image: url(img/logostar.png);
    animation-name: avancaro;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes avancaro {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
        background-color: transparent;
        box-shadow: none;
    }
}

/* QUARTO TIME CLASSIFICADO -ACIMA */

.logo-gpone .logo-gpone-eith {
    background-image: url(img/logoeagles.png);
}
/* FIM DAS LOGOS */

/* DESCRIÇÃO DAS FINAIS */

.description-cpone {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.description-cpone h1 {
    font-size: 150px;
    font-weight: 800;
    letter-spacing: 5px;
    color: rgb(238, 182, 0);
    font-family: 'Koulen', cursive;
    text-shadow: 1px 1px 20px rgb(46, 46, 46);

}


/* Ultimo Equipes Participantes */
/* Continuação Section One */

@keyframes animate-outline {
    from{
        outline: 0px solid rgb(255, 187, 0);
    }
    to{
        outline: 10px solid #4f9bf900;
    }
}

.fundo-campeonato {
    position: absolute;
    right: 0;
    clip-path: polygon(60% 0%, 100% 0%, 100% 89%, 91% 100%, 0% 100%);
}

.fundo-campeonato img {
    opacity: 0.3;
}

/* Follow Page */

.container-footer {
    width: 100vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(255, 187, 0);
    
}

.follow-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.follow-page h2 {
    font-size: 18px;
    color: rgb(255, 187, 0);
    font-weight: 500;
}

.follow-page i {
    font-size: 25px;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.follow-page i:hover {
    transform: translateY(-5px);
    transition: .5s;
}

.logocapa {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.logocapa img {
    width: 600px;
    height: 600px;
    opacity: 0.1;
}

.information {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information h1 {
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estaticas Campeonato */

.container-section-second {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.artilheiro h3 {
    font-size: 30px;
    color: rgba(255, 208, 0, 0.986);
    margin-bottom: 30px;
    background-color: transparent;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(255, 208, 0, 0.986);
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 20px black;
}

.estaticas-container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.jogador-estaticas {
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    width: 105%;
}

/* Emblemas */

.emblema-estatica {
    position: relative;
}

.emblema-estatica img {
    width: 200px;
    height: 200px;
    animation: movimento 5s ease-in-out infinite;
}

@keyframes movimento {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);

    }
    
}

.player-estatica img {
    width: 130px;
    height: 110px;
}

.player-estatica {
    position: absolute;
    transform: translate(80%, 60%);
}

.player-estatica img {
    width: 130px;
    height: 110px;
}

.player-estatica {
    position: absolute;
    transform: translate(80%, 60%);
}

/* Estaticas Totais */

.estaticastot h3 {
    font-size: 30px;
    color: white;
}

.estaticastot p {
    font-size: 20px;
    color: rgb(255, 208, 0);
}

.posestatic h4 {
    font-size: 100px;
    color: white;
    opacity: 0.1;
}

/* Estaticas Direita */

.estaticas-container-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.estaticas-gerais {
    display: flex;
    margin: 0 auto;
    gap: 200px;
}

/* Media Query */

@media (max-width: 1570px) {
    .container-section-one {
        display: none;
    }

    .efeito-amarelo {
        display: none;
    }

    .efeito-amarelo-second {
        display: none;
    }
}

@media screen and (max-width: 1650px) {
    /* Section Two Estaticas */

    .container-section-second {
        height: 100%;
        margin-top: 40px;
    }

    .estaticas-gerais {
        flex-direction: column;
        gap: 100px;
    }

    .estaticas-container-left {
        width: 100%;
    }

    .estaticas-container-right {
        width: 100%;
    }

    .emblema-estatica img {
        width: 130px;
        height: 130px;
    }

    .player-estatica img {
        width: 90px;
        height: 75px;
    }

    .player-estatica {
        transform: translate(80%, 60%);
        z-index: 1;
    }

    .estaticastot h3 {
        font-size: 40px;
    }

    .posestatic h4 {
        font-size: 70px;
    }

    .jogador-estaticas {
        width: 100%;
        height: 140px;
    }

    .posestatic {
        z-index: -1;
    }

    .container-footer {
        width: 100%;
        height: 80px;
        margin-top: 40px;
    }

    .efeito-amarelo {
        display: none;
    }

    .efeito-amarelo-second {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    /* Section Two Estaticas */

    .container-section-second {
        height: 100%;
        margin-top: 40px;
    }

    .estaticas-gerais {
        flex-direction: column;
        gap: 100px;
    }

    .estaticas-container-left {
        width: 100%;
    }

    .estaticas-container-right {
        width: 100%;
    }

    .emblema-estatica img {
        width: 130px;
        height: 130px;
    }

    .player-estatica img {
        width: 90px;
        height: 75px;
    }

    .player-estatica {
        transform: translate(80%, 60%);
        z-index: 1;
    }

    .estaticastot h3 {
        font-size: 40px;
    }

    .posestatic h4 {
        font-size: 70px;
    }

    .jogador-estaticas {
        width: 100%;
        height: 140px;
    }

    .posestatic {
        z-index: -1;
    }

    .container-footer {
        width: 100%;
        height: 8vh;
        margin-top: 40px;
    }
}

@media screen and (max-width: 890px) {

    .efeito-amarelo {
        display: none;
    }

    .efeito-amarelo-second {
        display: none;
    }

    /* Section Two Estaticas */

    .container-section-second {
        height: 100%;
        margin-top: 40px;
    }

    .estaticas-gerais {
        flex-direction: column;
        gap: 100px;
    }

    .estaticas-container-left {
        width: 100%;
    }

    .estaticas-container-right {
        width: 100%;
    }

    .emblema-estatica img {
        width: 130px;
        height: 130px;
    }

    .player-estatica img {
        width: 90px;
        height: 75px;
    }

    .player-estatica {
        transform: translate(80%, 60%);
        z-index: 1;
    }

    .estaticastot h3 {
        font-size: 40px;
    }

    .posestatic h4 {
        font-size: 70px;
    }

    .jogador-estaticas {
        width: 100%;
        height: 140px;
    }

    .posestatic {
        z-index: -1;
    }

    .container-footer {
        width: 100%;
        height: 8vh;
        margin-top: 20px;
    }
}

@media screen and (max-width: 670px) {

    /* Section Two Estaticas */

    .container-section-second {
        height: 100%;
        margin-top: 40px;
    }

    .estaticas-gerais {
        flex-direction: column;
        gap: 100px;
    }

    .estaticas-container-left {
        width: 100%;
    }

    .estaticas-container-right {
        width: 100%;
    }

    .emblema-estatica img {
        width: 100px;
        height: 100px;
    }

    .player-estatica img {
        width: 90px;
        height: 75px;
    }

    .player-estatica {
        transform: translate(40%, 70%);
    }

    .estaticastot h3 {
        font-size: 23px;
    }

    .posestatic h4 {
        font-size: 50px;
    }

    .jogador-estaticas {
        width: 100%;
        height: 140px;
    }

    .container-footer {
        width: 100%;
        height: 8vh;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    /* Section Two Estaticas */

    .container-section-second {
        height: 100%;
        margin-top: 40px;
    }

    .estaticas-gerais {
        flex-direction: column;
        gap: 100px;
        margin-top: 50px;
    }

    .estaticas-container-left {
        width: 100%;
    }

    .estaticas-container-right {
        width: 100%;
    }

    .emblema-estatica img {
        width: 100px;
        height: 100px;
    }

    .player-estatica img {
        width: 90px;
        height: 75px;
    }

    .player-estatica {
        transform: translate(40%, 70%);
    }

    .estaticastot h3 {
        font-size: 23px;
    }

    .posestatic h4 {
        font-size: 50px;
    }

    .jogador-estaticas {
        width: 100%;
        height: 140px;
    }

    .container-footer {
        width: 100%;
        height: 8vh;
        margin-top: 20px;
    }
}

